flask
numpy
nltk
pandas
regex
lxml
gunicorn
setuptools
flasgger
gunicorn
flask_cors
google
git+https://github.com/JMendes1995/Time-Matters.git
git+https://github.com/LIAAD/yake
git+https://github.com/JMendes1995/py_heideltime