flask
langdetect
flask_cors
flask_restplus
lxml
nltk
pandas
regex
git+https://github.com/JMendes1995/Time-Matters.git
git+http://github.com/LIAAD/yake
git+https://github.com/JMendes1995/py_heideltime
gunicorn