flask
numpy
nltk
pandas
regex
lxml
gunicorn
setuptools
flasgger
gunicorn
flask_cors
google
git+https://github.com/LIAAD/Time-Matters.git
git+https://github.com/LIAAD/yake
git+https://github.com/JMendes1995/py_heideltime
git+https://github.com/JMendes1995/py_rule_based.git
newspaper3k
joblib
